<div class="container">
{{#each groups as |group|}}	
<div class="row" style="color:#fff; border: 1px solid red">
	<div class="col-md-9">
		<h2>Group Name: {{group.group_name}}</h2>
		<h3>Group description: {{group.group_desc}}<h3>
		<h5>Created On: {{group.createdAt}}<h5>	
	</div>

{{!-- {{#each ../status}} --}}
	<div class="col-md-3">	
	{{!-- 	{{#if is_joined}}
      			ALREADY A MEMBER!!
    	{{else}} --}}
			<button class="btn btn-warning btn-join-grp"
		 		data-groupId='{{group.id}}' data-userName="{{../user.user_name}}"
		 		data-userId="{{../user.id}}"> Join Group 
		 	</button>	
    	{{!-- {{/if}}		 --}}

    		<button class="btn btn-warning btn-goto-grp"
		 		data-groupId='{{group.id}}' data-userName="{{../user.user_name}}"
		 		data-userId="{{../user.id}}"> GOTO Group
		 	</button>	

{{!-- 		 <a href="/details/{{id}}/{{../user.id}}">
			 <button class="btn btn-warning"
			 data-groupId='{{group.id}}'
			 data-userId="{{../user.id}}"> View Group </button>	
		</a> --}}

	</div>
{{!-- {{/each}}	 --}}
</div>
{{/each}}	
</div>

