<div class="container">
{{#each groups as |group|}}	
<div class="row" style="color:#fff; border: 1px solid red">
	<div class="col-md-9">
		<h2>Group Name: {{group.group_name}}</h2>
		<h3>Group description: {{group.group_desc}}<h3>
		<h5>Created On: {{group.createdAt}}<h5>	
	</div>
	<div class="col-md-3">				
		<button class="btn btn-warning btn-join-grp"
		 data-groupId='{{group.id}}'
		 data-userId="{{../user.id}}"> Join Group </button>	

		 <a href="/details/{{id}}/{{../user.id}}">
			 <button class="btn btn-warning btn-join-grp"
			 data-groupId='{{group.id}}'
			 data-userId="{{../user.id}}"> View Group </button>	
		</a>
	
	</div>
</div>
{{/each}}	
</div>

