{{#each group}}
	<h1>{{group_name}}</h1>
	{{group_desc}} <br>
{{/each}}

{{#each details}}
	Time: {{grp_date_time}} <br>
	Location: {{grp_location}} <br>
{{/each}}

{{#each group}}
	<button id="join-button" 
	data-userId="{{#each ../user}}{{id}}{{/each}}" 
	data-groupId="{{id}}" 
	class="{{#each ../group_member}}member{{is_joined}}{{/each}}" 
	type="submit">
	Join Group!
	</button>	
{{/each}} <br> <br>

{{#each group_member}}
	{{#if is_joined}}
		Joined!
	{{/if}}	
{{/each}}

{{#each group}}
<h1>Group Details</h1>
<form action="/api/create/groupdetails/{{id}}" method="POST">              
    <input type="text" id="details-time" name="grp_date_time" placeholder="Time">
    <input type="text" id="details-location" name="grp_location" placeholder="Location">
    
    <button class="create-details" data-id="{{id}}" type="submit">Submit Details</button>   
</form> 
{{/each}}  




