{{#each group}}
	<h1>{{group_name}}</h1>
	{{group_desc}} <br>
{{/each}}

{{#each details}}
	Time: {{grp_date_time}} <br>
	Location: {{grp_location}} <br>
{{/each}}

{{#unless group_member}}
	<button class="btn btn-warning btn-join-grp"
		 data-groupId='{{#each group}}{{id}}{{/each}}' data-userName="{{#each user}}{{user_name}}{{/each}}"
		 data-userId="{{#each user}}{{id}}{{/each}}"> Join Group 
	</button>
{{/unless}}	
 <br> <br>

{{#each group_member_message}}
	{{user_name}}: {{message_text}}   ({{createdAt}})<br>
{{/each}} <br><br><br>

{{#if is_joined}}		
	<form action="/api/postmessage/{{#each group}}{{id}}{{/each}}/{{#each user}}{{id}}{{/each}}/{{#each user}}{{user_name}}{{/each}}" method="POST">              
		<input type="text" id="message" name="message_text" placeholder="message">
		    
		<button class="post-message" type="submit">Post Message</button>   
	</form> <br><br><br>
{{/if}}


{{#each group_member}}
	{{#if is_admin}}
		<h1>Group Details</h1>
		<form action="/api/create/groupdetails/{{#each ../group}}{{id}}{{/each}}" method="POST">              
		    <input type="text" id="details-time" name="grp_date_time" placeholder="Time">
		    <input type="text" id="details-location" name="grp_location" placeholder="Location">
		    
		    <button class="create-details" data-id="{{#each ../group}}{{id}}{{/each}}" type="submit">Submit Details</button>   
		</form> <br> <br>
			<button id="delete-group" data-groupId="{{#each ../group}}{{id}}{{/each}}"type="submit">DELETE GROUP</button> <br> <br>
	{{/if}}
{{/each}}





