<div class="container">
{{#each groups as |group|}}	

{{#if group.users}}
	<div class="row" style="color:#fff; border: 1px solid red">
		<div class="col-md-9">
			<h2>Group Name: {{group.group_name}}</h2>
			<h3>Group description: {{group.group_desc}}<h3>
			<h5>Created On: {{group.createdAt}}<h5>	
		</div>
		<div class="col-md-3">	
    		<button class="btn btn-warning btn-goto-grp"
	 		data-groupId='{{group.id}}' 
	 		data-userName=" {{#each group.users as |user|}}{{user.user_name}} 
	 		{{/each}}"
		 	data-userId="{{#each group.users as |user|}}{{user.id}} {{/each}}"> GOTO Group
		 	</button>	
			{{#if ../isAdmin}}
				<button id="delete-group" data-groupId="{{#each ../group}}{{id}}{{/each}}"type="submit" onclick="window.location.href='/'">DELETE GROUP</button> <br> <br>
			{{/if}}	
		</div>
	</div>
{{/if}}
{{/each}}	
</div>

