<div class="container" style="color: #fff">
<div class= "row" style="color: #fff; border: 2px solid white">
	<div class="col-md-10">
		<h1> Hello {{user.user_name}}, Welcome to  {{group.group_name}} </h1>
		<h4> Group Description : {{group.group_desc}}<h4>
		<br>
		<h5>
		{{#if group.group_detail}}
			<span> Meeting Time: {{group.group_detail.grp_date_time}} </span>
			<span> Meeting Location: {{group.group_detail.grp_location}} </span>
		{{/if}}
		<h5>
	</div>
	<div class="col-md-2">				
		<button class="btn btn-warning btn-join-grp"
			 data-groupId="{{group.id}}" data-userName="{{user.user_name}}"
			 data-userId="{{user.id}}"
			 {{#each group.users as |groupUser|}}	
			 {{#ifCond groupUser.group_member.userId ../user.id}}
			 disabled {{/ifCond}}{{/each}}	> Join Group 	 
		</button>	
	</div>	
</div>
<div class="row text-center">
	<div class="col-md-9 text-center" style="color: #fff; border: 2px solid #fff">
		{{#each group.users as |groupUser|}}
			{{#if groupUser.group_member.is_admin}}
				{{#ifCond groupUser.group_member.userId ../user.id}}
			        <div>Hi There Admin!! You can edit the Location/time!</div>
					<form action="/api/create/groupdetails/{{../group.id}}" method="POST"> 
						Location: <input type="text" id="details-location" name="grp_location" placeholder="Location">
						Date : 	<input type="text" id="details-time" name="grp_date_time" placeholder="Time">
						<button class="btn-group-details" type="submit">Submit</button>	
					</form>	
				{{/ifCond}}
			{{/if}}		
		{{/each}}	
	</div>
	<div class="col-md-3 text-center" style="color: #fff; border: 2px solid #fff">
		<h3> Group Members</h3>
		<ul>
			{{#each group.users as |user|}}			
				<h4><li 
					{{#if user.group_member.is_admin}}style="color:yellow"{{/if}}>
				{{#if user.group_member.online_status}}
					<img class="online-photo" src="/assets/images/online.png">
					{{/if}}
				{{#unless user.group_member.online_status}}
					<img class="offline-photo" src="/assets/images/offline.png">
				{{/unless}}
				{{user.user_name}} {{#if user.group_member.is_admin}}- (Admin){{/if}}</li><h4>
			{{/each}}
		<ul>
	</div>
</div>	
</div>