<div class="container" style="color: #fff">
<div class= "row" style="color: #fff">
	<div class="col-md-12">
	{{!-- header with group details --}}
	{{#each group}}
		<h1> Welcome to  {{group_name}} {{#each user}}{{user_name}}{{/each}}</h1>
		<h3> Group Description : {{group_desc}}<h3>
	{{/each}}
	</div>	
</div>
<div class="row" style="color: #fff">
	<div class="col-md-12">
	{{#each details}}
		Time: {{grp_date_time}} <br>
		Location: {{grp_location}} <br>
	{{/each}}
{{!-- unless the user is a group member, the join group buttpn will be pn the page --}}
{{#unless group_member}}
	<button class="btn btn-warning btn-join-grp"
		 data-groupId='{{#each group}}{{id}}{{/each}}' data-userName="{{#each user}}{{user_name}}{{/each}}"
		 data-userId="{{#each user}}{{id}}{{/each}}"> Join Group 
	</button>
{{/unless}}	
 <br> <br>

 <div class="row" style="color: #fff">
	<div class="col-md-12">
		{{!-- All group members listed. If the user is the admin they will be labeled --}}
		<h3> Group Members</h3><br>
		<ul>
		{{#each group_members}}
			<h2><li>
				{{online_status}}
					{{#if online_status}}
					<img class="online-photo" src="/assets/images/online.png">
					{{/if}}
				{{#unless online_status}}
					<img class="offline-photo" src="/assets/images/offline.png">
				{{/unless}}
		{{user_name}} {{#if is_admin}}- Admin{{/if}}</li></h2>
		{{/each}}
		<ul>
	</div>
</div>	
</div>

{{!-- message area. if the user is joined they will be able to see this and post messages to the page --}}
{{#each group_member_message}}
	{{user_name}}: {{message_text}}   ({{createdAt}})<br>
{{/each}} <br><br><br>

{{#if is_joined}}		
	<form action="/api/postmessage/{{#each group}}{{id}}{{/each}}/{{#each user}}{{id}}{{/each}}/{{#each user}}{{user_name}}{{/each}}" method="POST">              
		<input type="text" id="message" name="message_text" placeholder="message">
		    
		<button class="post-message" type="submit">Post Message</button>   
	</form> <br><br><br>
{{/if}}

{{!-- button allowing the user to leave the group if they are joined --}}
{{#if is_joined}}
	<button id="leave-group" data-userId="{{#each user}}{{id}}{{/each}}" data-groupId="{{#each group}}{{id}}{{/each}}">Leave Group</button>
{{/if}}

{{!-- admin area: form to update the group details as well as a button to delete the group if they want tos --}}
{{#each group_member}}
	{{#if is_admin}}
		<h1>Group Details</h1>
		<form action="/api/create/groupdetails/{{#each ../group}}{{id}}{{/each}}" method="POST">              
		    <input type="text" id="details-time" name="grp_date_time" placeholder="Time">
		    <input type="text" id="details-location" name="grp_location" placeholder="Location">
		    
		    <button class="create-details" data-id="{{#each ../group}}{{id}}{{/each}}" type="submit">Submit Details</button>   
		</form> <br> <br>
			<button id="delete-group" data-groupId="{{#each ../group}}{{id}}{{/each}}"type="submit" onclick="window.location.href='/'">DELETE GROUP</button> <br> <br>
	{{/if}}
{{/each}}

	</div>
</div>	
