<div class="container" style="color: #fff">
	<a href="/" class="btn btn-primary btn-lg" id="profileBack-btn"><span class="glyphicon glyphicon-plus"></span> Back</a>
<div class= "row" style="color: #fff; border: 2px solid white">
	<div class="col-md-10">
		<h1> Hello {{user.user_name}}, Welcome to  {{group.group_name}} </h1>
		<h4> Group Description : {{group.group_desc}}<h4>
		<br>
		<h5>
		{{#if group.group_detail}}
			<span> Meeting Time: {{group.group_detail.grp_date_time}} </span>
			<span> Meeting Location: {{group.group_detail.grp_location}} </span>
		{{/if}}
		<h5>
	</div>
	<div class="col-md-2">				
		<button class="btn btn-warning btn-join-grp"
			 data-groupId="{{group.id}}" data-userName="{{user.user_name}}"
			 data-userId="{{user.id}}"
			 {{#each group.users as |groupUser|}}	
			 {{#ifCond groupUser.group_member.userId ../user.id}}
			 disabled {{/ifCond}}{{/each}}	> Join Group 	 
		</button>	
		{{!-- button allowing the user to leave the group if they are joined --}}
		{{#each group.users as |groupUser|}}	
			{{#ifCond groupUser.group_member.userId ../user.id}}			
				{{#if groupUser.group_member.is_admin}}
				<button class="btn-danger" id="delete-group" data-groupId="{{../group.id}}"type="submit" onclick="window.location.href='/'">DELETE GROUP</button> <br> <br>
				{{else}}
				<button class="btn-warning" id="leave-group" data-userId="{{../user.id}}" data-groupId="{{../group.id}}">Leave Group</button>
				{{/if}}
			{{/ifCond}}
		{{/each}}
	</div>	
</div>
<div class="row">
	<div class="col-md-9" style="color: #fff; border: 2px solid #fff">
		{{#each group.users as |groupUser|}}
			{{#if groupUser.group_member.is_admin}}
				{{#ifCond groupUser.group_member.userId ../user.id}}
			        <div>Hi There Admin!! You can edit the Location/time!</div>
					<form action="/api/create/groupdetails/{{../group.id}}" method="POST"> 
						Location: <input type="text" id="details-location" name="grp_location" placeholder="Location">
						Date : 	<input type="text" id="details-time" name="grp_date_time" placeholder="Time">
						<button class="btn-group-details" type="submit">Submit</button>	
					</form>	
				{{/ifCond}}
			{{/if}}		
		{{/each}}	

		<h1>DISCUSS</h1>
			{{#each group.users as |groupUser|}}
				{{#ifCond groupUser.group_member.userId ../user.id}}		
					<form action="/api/postmessage/{{../group.id}}/{{../user.id}}/{{../user.user_name}}" method="POST">   
						<textarea id="message" name="message_text" placeholder="Write your message" rows="4" cols="50"></textarea>           				    
						<button class="post-message" type="submit">Post Message</button>   
					</form> <br><br><br>
				{{/ifCond}}	
			{{/each}}	
		
			{{#each messages}}
				{{#if message_text}}
					<div style="border: 1px solid white">
						<p>{{message_text}}</p>
						<p> By {{user_name}}</p>: 
						<p> At :({{createdAt}})</p>
					</div>
				{{/if}}				
			{{/each}} <br>
				

	</div>
	<div class="col-md-3 text-center" style="color: #fff; border: 2px solid #fff">
		<h3> Group Members</h3>
		<ul>
			{{#each group.users as |groupUser|}}			
				<h4><li {{#if groupUser.group_member.is_admin}}style="color:yellow"{{/if}}>
				{{#if groupUser.group_member.online_status}}
					<img class="online-photo" src="/assets/images/online.png">
				{{/if}}
				{{#unless groupUser.group_member.online_status}}
					<img class="offline-photo" src="/assets/images/offline.png">
				{{/unless}}
				{{groupUser.user_name}}
				{{#ifCond groupUser.group_member.userId ../user.id}} (You) {{/ifCond}}
				{{#if groupUser.group_member.is_admin}}- (Admin){{/if}}
			</li><h4>
			{{/each}}
		<ul>
	</div>
</div>	
</div>