<div class="wrapper">
	{{#each data.user}}
		<p>Welcome {{user_name}}</p>
		{{/each}}
	<a href="/user">View Your Profile</a>
	</div>
	<h1>Groups</h1>
	<div class="group-div">
		{{#each data.groups}}
			<li>
				<a href="/details/{{id}}">{{group_name}}</a> <br>
				{{group_desc}} <br>
				{{!-- <button id="join-button" data-userId="{{id}}" data-groupId="{{id}}" type="submit">Join group</button> --}}
			</li>
		{{/each}}
	</div>
</div>