
<div class="wrapper">
	{{#each user}}
		<p>Welcome {{user_name}}</p>
        <a href="/user/{{id}}">View Your Profile</a>
        {{id}}
	{{/each}}
{{user.user.id}}
</div>
<div class="group-div">
    <form>
	<h1>Groups</h1>
	{{#each group}}
    	<li>
    		<a href="/details/{{id}}/{{#each ../user}}{{id}}{{/each}}">
            {{group_name}}
           </a> <br>
    		{{group_desc}} <br>
    	</li>
    {{/each}}
    </form>
</div>

