<link href="https://fonts.googleapis.com/css?family=Roboto:100i,400" rel="stylesheet">
<style>
.msgbox div{
  border:1px solid white !important;
   background:lightgrey;
   border-radius:5px;
   margin-bottom:5px;
}

</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-light bg-light justify-content-between navbar-fixed-top">
              <h1><a href="/" id="logo">STUDY BUDDY</a></h1> 
              <a href="">{{> users/user-count-block}}</a>
                <form class="form-inline">                            
                  <div class="sign-out"></div>                          
                  <div class="username-display">
                    <a href="/user/{{user.id}}">{{user.first_name}}</a>
                  </div>
                  <button class="btn btn-danger" id="signout-btn" data-id={{user.id}}> Sign out </button>
                  <a href="/api/all/groups" class="btn btn-primary btn-md" id="profileBack-btn"><span class="glyphicon glyphicon-plus"></span> Back</a>
                </form>            
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    {{!-- Admin section  --}}
                    {{#each group.users as |groupUser|}}
                        {{#if groupUser.group_member.is_admin}}
                            {{#ifCond groupUser.group_member.userId ../user.id}}
                            <h5 id="admin" class="card-title">Admin Options</h5>
                                <div><p style="margin:0;font-weight:bold;">Edit Location & Time</p></div>
                                <form action="/api/create/groupdetails/{{../group.id}}" method="POST"> 
                                    Location<input type="text" id="details-location" class="form-control" name="grp_location" placeholder="Location" aria-label="Message" aria-describedby="basic-addon2"><br>
                                    Date<input type="text" id="details-time" class="form-control" name="grp_date_time" name="grp_location" placeholder="MM/DD/YR - Time" aria-label="Message" aria-describedby="basic-addon2"><br>
                                    <button class="btn btn-warning btn-group-details" type="submit">Submit</button> 
                                </form> 
                            {{/ifCond}}
                        {{/if}}     
                    {{/each}}   
                        {{!-- buttons to join delete and leave group  --}}
                        {{!-- <div class="input-group mb-3"> --}}
                                {{!-- <div class="input-group-prepend"> --}}
                                    <button class="btn btn-warning btn-join-grp"
                                         data-groupId="{{group.id}}" data-userName="{{user.user_name}}"
                                         data-userId="{{user.id}}"
                                         {{#each group.users as |groupUser|}}   
                                         {{#ifCond groupUser.group_member.userId ../user.id}}
                                         disabled {{/ifCond}}{{/each}}  > Join Group     
                                    </button>   
                {{!-- button allowing the user to leave the group if they are joined --}}
                                    {{#each group.users as |groupUser|}}    
                                        {{#ifCond groupUser.group_member.userId ../user.id}}            
                                            {{#if groupUser.group_member.is_admin}}
                                            <button class="btn-danger" id="delete-group" data-groupId="{{../group.id}}"type="submit" onclick="window.location.href='/'" style="background-color:red">DELETE GROUP</button> <br> <br>
                                            {{else}}
                                            <button class="btn btn-warning" id="leave-group" data-userId="{{../user.id}}" data-groupId="{{../group.id}}">Leave Group</button>
                                            {{/if}}
                                        {{/ifCond}}
                                    {{/each}}
                                {{!-- </div> --}}
                            {{!-- </div> --}}
                </div>
                {{!-- display members of group  --}}
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            </div>
                                <h5 class="groupmembers"> Group Members</h5>
                                    <ul>
                                        {{#each group.users as |groupUser|}}
                                        <h4> <li id="online" {{#if groupUser.group_member.is_admin}}style="color:grey;"{{/if}}>
                                         {{#if groupUser.group_member.online_status}}
                                         <img class="online-photo" src="/assets/images/online.png">
                                        {{/if}}
                                        {{#unless groupUser.group_member.online_status}}
                                         <img class="offline-photo" src="/assets/images/offline.png">
                                        {{/unless}}
                                        {{groupUser.user_name}}
                                        {{#ifCond groupUser.group_member.userId ../user.id}} (You) {{/ifCond}}
                                        {{#if groupUser.group_member.is_admin}}- (Admin){{/if}}
                                        </li></h4>
                                        {{/each}}
                                    <ul>
                          
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {{!-- chat section  --}}
            {{!-- header --}}
            <div class="col-sm-8">
                <div id="right-card" class="card">
                    <div class="card-header">
                        <h2 style="float:left;color: #FFCA54;font-weight: bolder;">{{group.group_name}}</h2><br><br>
                        <p style="float:left;color:grey;"> {{group.group_desc}}</p>
                        {{#if group.group_detail}}
                            <span style="float:right;margin-top: -7%;"><b>Meeting Time:</b> {{group.group_detail.grp_date_time}} </span><br>
                            <span style="float:right; margin-top: -7%;"><b>Meeting Location:</b> {{group.group_detail.grp_location}} </span>
                        {{/if}}
                        </div>
                    {{!-- chat window --}}
                    <div id="chatwindow" class="card-body">
                        <div class="msgbox" style="height:20rem;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                            {{#each messages}}
                                {{#if message_text}}
                                    <div style="border: 1px solid black">
                                        <p id="message">{{message_text}}</p>
                                        <p id="author" class="font-weight-light">By {{{user_name}}} on {{{formatTime createdAt}}}</p>
                                    </div>
                                {{/if}}             
                            {{/each}}
                        </div>
                        {{#each group.users as |groupUser|}}
                            {{#ifCond groupUser.group_member.userId ../user.id}}        
                                <form action="/api/postmessage/{{../group.id}}/{{../user.id}}/{{../user.user_name}}" method="POST">   
                                    <textarea id="message" class="form-control" name="message_text" placeholder="Write your message" rows="4" cols="50"></textarea>                              
                                    <button class="btn btn-warning post-message" type="submit">Post Message</button>   
                                </form> <br><br><br>
                            {{/ifCond}} 
                        {{/each}}  
                
                    </div>
                </div>
            </div>
        </div>
    </div>